@import '../styles/variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--very-dark-grey);
    color: #E6E5EA;
    font-size: 1.6rem;
    font-family: var(--font);
    display: grid;
    place-items: center;
    padding: 5rem 0;
    overflow-x: hidden;
}

@media(max-width: 600px) {

    body {
        padding: 0;
    }

}