@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;800&display=swap');

:root {
    --red: #F64A4A;
    --orange: #FB7C58;
    --yellow: #F8CD65;
    --neon-green: #A4FFAF;
    --light-white: #E6E5EA;
    --grey: #817D92;
    --dark-grey: #24232C;
    --very-dark-grey: #18171F;
    --font: "JetBrains Mono", sans-serif;

    --toastify-color-light: var(--dark-grey) !important;
    --toastify-color-success: var(--neon-green) !important;
    --toastify-color-info: var(--yellow) !important;
    --toastify-font-family: var(--font) !important;
    --toastify-text-color-light: var(--light-white) !important;
}